* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  position: relative;
  width: 100%;
}

ul,
nav {
  display: flex;
  justify-content: space-between;
}

nav {
  position: absolute;
  width: 100%;
  padding: 32px 94px;
}

ul {
  gap: 52px;
}

li {
  list-style: none;
}

li a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.hero {
  background-image: url(./images/background.jpg);
  background-size: cover;
  height: 1093px;
  display: flex;
}

.hero-container {
  padding-top: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__group1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 120px;
  font-weight: 700;
}

.span_group {
  display: flex;
  gap: 60px;
  justify-content: center;
  margin-bottom: 38px;
}

.span_group span {
  font-size: 16px;
  font-weight: 700;
}

button {
  width: fit-content;
  padding: 13px 20px;
  background-color: #c271ff;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  border-radius: 22px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 168px;
}

.hero__h2 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

.hero__h2 strong {
  color: #c271ff;
}

.imgs_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 140px;
  margin-top: 87px;
}

.imgs_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.imgs_container img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.imgs_container p {
  margin-top: 6px;
  font-size: 16px;
  font-style: italic !important;
}

.imgs_container h3 {
  font-size: 18px;
}

/* ************************************************************************ */

.testimonials {
  background-color: #c271ff;
}

.testimonials_container {
  padding: 96px 0;
  display: flex;
  gap: 53px;
  justify-content: center;
  align-items: center;
}

.test_img {
  border-radius: 50%;
}

blockquote {
  margin-bottom: 22px;
}

blockquote,
.testimonials_container p,
.test_h3 {
  font-size: 22px;
}

/* ************************************************************************ */
.tutorials {
  color: #071629;
  padding: 87px 0;
}

.tutorials_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.tutorials_cards {
  display: flex;
  flex-direction: column;
}

.tutorials_h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 75px;
  grid-column: span 4;
  text-align: center;
}

.tutorials_h2 strong {
  color: #c271ff;
}

.flex_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tutorials_cards {
  padding: 16px;
}

.tutorials_cards h3 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 18px;
  margin-bottom: 7.5px;
}

.tutorials_cards p {
  font-size: 14px;
  color: rgba(7, 22, 41, 0.516);
  margin-bottom: 15px;
}

.tutorials_cards h4 {
  font-size: 14px;
  color: #c271ff;
  font-weight: 600;
}

.preview_img {
  width: 255px;
  height: 155px;
}

.rate_img {
  width: 50px;
  border-radius: 50%;
}

.img_wrapper {
  position: relative;
}

.fa-circle-play {
  position: absolute;
  left: 35%;
  top: 35%;
  font-size: 36px;
  color: #c271ff !important;
}

.min_stars {
  margin-top: 15px;
}

.min_stars p,
.fa-star {
  color: #c271ff !important;
  font-size: 14px;
}

.min_stars p {
  margin-bottom: 0;
}

.flex_container.stars div:last-child i {
  color: #d8d8d8 !important;
}

/* *************************************************************************************** */
.membership {
  background-color: #071629;
}

.membership_container {
  padding: 70px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.membership_container h2 {
  font-size: 32px;
  font-weight: 500;
  grid-column: span 4;
  text-align: center;
  margin-bottom: 58px;
}

.membership_container h2 strong {
  color: #c271ff;
}

.membership_container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  margin-bottom: 85px;
}

.membership_container div h3 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 13px;
}

.membership_container div p {
  text-align: center;
  font-size: 14px;
  line-height: 1.8;
}

.btn_container {
  grid-column: span 4;
  align-self: center;
  margin-bottom: 0 !important;
}

.btn_container button {
  margin-bottom: 0;
}

/* **************************************************************** */
.faq {
  color: #071629;
}

.faq_container {
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faq_container h2 {
  grid-column: span 2;
  text-align: center;
  font-size: 60px;
}

.p_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 220px;
}

.p_container h3 {
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 74px;
}

.p_container p {
  font-size: 14px;
  color: rgba(7, 22, 41, 0.516);
  line-height: 1.8;
  width: 350px;
}

/* ******************************************************************************************* */
.footer {
  background-color: #071629;
}

.footer_container {
  padding: 0 165px;
}

.logo_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 95px;
}

.social_media {
  font-size: 28px;
  gap: 24px;
}

.footer_container p {
  font-size: 12px;
  opacity: 0.35;
  margin-top: 75px;
  text-align: center;
  padding-bottom: 40px;
}
